@import url('https://fonts.googleapis.com/css2?family=Roboto&family=Satisfy&display=swap');

body{
    background-color: red;
}

.dialog-off-canvas-main-canvas {
    font-family: 'Roboto', sans-serif;
}

h1, h2, h3, h4, h5 {
    font-family: 'Satisfy', cursive;    
}

.layout-main-wrapper{
    padding: 0 5%;
}

.sidebar_first{
    flex: 0 0 16.666667% !important;
    max-width: 16.666667% !important;

    a {
        color: black;
    }
}

.view-content{
    justify-content: center;
}


.node--view-mode-teaser{
    display: flex;
    flex-direction: column;
    align-items: center;

    .node__title{
        text-align: center;
    }
    
    .node__content{
        display: flex;
        flex-direction: column;
        align-items: center;
    }

        .image-style-large{
            width: 100%;
            height: auto;
        }
    }
    .node-readmore{
        a{
            color: white;
        }
        background-color: #505050;
        border-radius: 20px;
    }
}

@media (min-width: 560px){
    .node .field--type-image{
        float: none !important;
        margin: 0 !important;
    }
}