@import url('https://fonts.googleapis.com/css2?family=Roboto&family=Satisfy&display=swap');


.header{
    .navbar-expand-lg{
        /* Hides the non used navbar */
        display: none;
    }
    a{
        /* Sets the default font family, color and size */
        font-family: 'Satisfy', cursive;
        font-size: 1.5rem;
        color: white;
    }
    .navbar{
        .row{
            .block{
                .navbar-nav{
                    .nav-item{
                        .nav-link{
                            padding-left: 45vw;
                            font-size: 3rem;
                        }
                        .nav-link:hover{
                            color: #cecece;
                        }
                    }
                }
           }
        }
    }
}


a:hover{
    color: black;
    text-decoration: none;
}

.region-top-header-form{
    .block-menu{
        .nav{
            .nav-link:hover{
                color: #cecece;
            }
        }
    }
}

.dialog-off-canvas-main-canvas {
    font-family: 'Roboto', sans-serif;
}

h1, h2, h3, h4, h5 {
    font-family: 'Satisfy', cursive;    
}

.layout-main-wrapper{
    padding: 3% 5%;
}

.sidebar{
    flex: 0 0 16.666667% !important;
    max-width: 16.666667% !important;

    .section {
        position: sticky;
        top: 0;
    }

    a {
        color: black;
    }

    h2{
        font-size: 1.5rem;
    }

    .block{
        background-color: white !important;
        border-style: none !important;
    }
}

.view-content{
    justify-content: center;

    .views-row{
        .views-field-field-cover{
            .field-content{
                img{
                    height: 80vh !important;
                    object-fit: cover !important;
                    max-width: 100% !important;
                }
            }
        }        
    }
}


.node--view-mode-teaser{
    display: flex;
    flex-direction: column;
    align-items: center;

    .node__title{
        text-align: center;
        a{
            text-decoration: none;
        /* Underline of the title in node full view */
        .field--name-title{
            border-bottom: solid;
        }
        }
    }
    
    .node__content{
        display: flex;
        flex-direction: column;
        align-items: center;

        .image-style-large{
            width: 100%;
            height: 320px;
            object-fit: cover;
        }
    }
    /* Disables comments on teaser */
    .comment-add{
        display: none;
    }
    .node-readmore{
        transition: 0.2s;
        background-color: #505050;
        border: 1px solid #505050;
        border-radius: 20px;

        a{
            color: white;
        }
    }

    .node-readmore:hover{
        transition: 0.2s;
        border: 1px solid #505050;
        background-color: white;

        a{
            color: #505050;
        }
    }
}

.content {
    .title{ 
        /* Center the title of node full view */
        text-align: center;
        
        /* Underline of the title in node full view */
        .field--name-title{
            border-bottom: solid;
        }
    }
    div{
        .view-categorias, .view-content-recent, .view-related-post{
            .view-content{
                .views-row{
                    .views-field{
                        .field-content{
                            /* Fix the blue color on the hover */
                            a:hover{
                                color: black;
                            }
                        }
                    }
                }
            }
        }
    }
    .node--type-post{
        .node__content{
            .field--name-field-categoria, .field--name-field-palabras-clave{
                .field__label{
                    /* Underline of the title in node full view and font family*/
                    font-family: 'Satisfy', cursive; 
                    border-bottom: solid;
                }
                /* Style for Category title on full node view*/
                .field__item{
                    display: block;
                    padding: .5rem 1rem;
                    transition: 0.2s;
                    background-color: #505050;
                    border: 1px solid #505050;
                    border-radius: 20px;
            
                    a{
                        color: white;
                    }
                }
                /* Style for Category title hover on full node view*/
                .field__item:hover{
                    transition: 0.2s;
                    border: 1px solid #505050;
                    background-color: white;
                        a{
                            color: #505050;
                        }
                }
            }
        

            .field--type-image{
                /* Style for images inside node full view */
                .field__item{
                    display: flex;
                    justify-content: center;
                }
            }
        }
    }
}

  

@media (min-width: 560px){
    .node .field--type-image{
        float: none !important;
        margin: 0 !important;
    }
}

.pagination {
    justify-content: center;

    .page-link {
        transition: 0.2s;
        position: relative;
        display: block;
        padding: .5rem .75rem;
        margin-left: -1px;
        line-height: 1.25;
        color: white;
        background-color: #505050;
        border: 1px solid #505050;
    }   

    .page-link:hover{
        transition: 0.2s;
        color:#505050;
        background-color:white;
        border: 1px solid #505050;
    }
}

//Style for user account form
.form-control{
    background-color: #D7D7D7 !important;
    border-radius: 20px !important;
    padding: 10px !important;
}

//Style for user account submit button
.btn-primary{
    transition: 0.2s;
    color: white;
    background-color: #505050;
    border: 1px solid #505050;
    border-radius: 20px;
}

.btn-primary:hover{
    transition: 0.2s;
    color:#505050;
    background-color:white;
    border: 1px solid #505050;
}